main {
    min-height: 500px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-section {
    width: 100%;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}